.toolbar {
  grid-area: toolbar;
  position: relative;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  .left {
    display: flex;
    align-items: center;
    .user {
      color: #000;
      display: grid;
      cursor: pointer;
      padding: 10px;
      border-radius: 6px;
      margin-right: 10px;
      transition: all 0.2s ease-out;
      grid-template-columns: 38px 1fr 15px;
      align-items: center;
      gap: 10px;
      &:hover {
        background: rgba(0, 0, 0, 0.09);
      }
      margin-left: 10px;
      img {
        object-fit: cover;
        border-radius: 9px;
        width: 38px;
        height: 38px;
      }
      .userInfo {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 0.8rem;

        .title {
          font-weight: 700 !important;
        }
        font-weight: 400;
      }
      svg {
        font-weight: unset;
      }
    }

    .line {
      color: #dadada;
      width: 1px;
      height: 40px;
    }
  }
}

.chevron {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid #dadada;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  left: 0;
  transform: translate(-50%, -00%);
  > svg {
    width: 10px;
  }
}
