.toolbar {
  grid-area: toolbar;
  position: relative;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--c-grey);
  .left {
    display: flex;
    align-items: center;
    .user {
      color: #000;
      display: grid;
      cursor: pointer;
      padding: 10px;
      border-radius: 6px;
      transition: all 0.2s ease-out;
      grid-template-columns: 38px 1fr 15px;
      align-items: center;
      gap: 10px;
      &:hover {
        background: rgba(0, 0, 0, 0.09);
      }
      margin-left: 10px;
      img {
        object-fit: cover;
        border-radius: 9px;
        width: 38px;
        height: 38px;
      }
      .userInfo {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 0.8rem;

        .title {
          font-weight: 700 !important;
        }
        font-weight: 400;
      }
      svg {
        margin-left: 7px;
        width: 11px;
        height: 7px;
      }
    }

    .line {
      margin-right: 20px;
      margin-left: 10px;
      color: var(--c-grey);
      width: 1px;
      height: 40px;
    }

    .searchBar {
      display: flex;
      align-items: center;
      svg {
        height: 18px;
        width: 18px;
        margin-right: 10px;
      }
      input {
        transition: all 0.1s ease;
        border: 0;
        outline: 0;
        background: transparent;
        padding: 10px;
        &::placeholder {
          color: #979797;
          font-size: 0.9rem;
        }
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 10px;
    .userStatus {
      display: flex;
      align-content: center;
      flex-wrap: nowrap;
      color: #30d988;
      font-size: 0.7rem;
      svg {
        width: 7px;
        margin-right: 5px;
      }
    }
    .multipleUsers {
      display: flex;
      align-content: center;
      img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        cursor: pointer;
        border: 2px solid var(--c-white);
        &:not(.last) {
          float: right;
          margin-right: -15px;
        }
      }
    }
    .line {
      margin-left: 10px;
      color: var(--c-grey);
      width: 1px;
      height: 40px;
    }

    .bell {
      width: auto;
      height: 24px;
      background: var(--c-white);
      border-radius: 50%;
    }
  }
}

.chevron {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid var(--c-grey);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  left: 0;
  transform: translate(-50%, -00%);
  > svg {
    width: 10px;
  }
}
