@import 'normalize.css/normalize.css';

@font-face {
  font-family: Gilroy;
  src: url('./assets/Gilroy-Light.woff');
  font-weight: normal;
  font-style: normal;
}

// *,
// *:before,
// *:after {
//   box-sizing: inherit;
// }

body {
  font-size: 1.1rem;
  font-family: Gilroy;
  background: #e5e5e5;
}

ul {
  list-style: none;
}
