@import 'normalize.css/normalize.css';

@font-face {
  font-family: Gilroy;
  src: url('./assets/Gilroy-Medium.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 1rem;
  font-family: Gilroy;
  background: #f8f9ff;
}

ul {
  list-style: none;
}
