@import 'normalize.css/normalize.css';

@font-face {
  font-family: Gilroy;
  src: url('./assets/Gilroy-Medium.woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --c-white: #fff;
  --c-grey: #dadada;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  font-family: Gilroy;
  background: #f8f9ff;
}

ul {
  list-style: none;
}
